.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .chat {
        box-shadow: 3px 3px 10px #ccc;
        flex: 1;
        height: 30em;
        margin: 1em;
        padding: 1em;
        position: relative;
        display: flex;
        flex-direction: column;

        .messages {
            overflow: auto;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 3px;
            height: 10em;
            margin: 1em auto;
            flex: 1;
            padding: 1em;
            display: flex;
            flex-direction: column;

        }



        .messageBox {
            width: 100%;
            padding: .5em;
            border: 1px solid #ccc;
            border-radius: 6px;

            font-size: 1rem;
            outline: none;
            transition: all .2s;
            width: 100%;
            margin: 1em auto;


        }
    }

    .actions {
        flex: 1;
        flex-direction: column;
        margin: 1em auto;

        button {
            width: 100%;
            flex: 1;
            margin: 3px auto;
        }

        .cancel {
            background-color: red;
            color: white;
        }

        .openChat {
            background-color: green;
            color: white;
        }
    }
}

.order {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1em;
    position: relative;

    .items {

        display: flex;
        flex-direction: column;

        .item {
            border: 1px solid #ccc;
            padding: 10px;
            display: flex;
            margin-top: 1em;
            width: 300px;
            flex-direction: column;

            .title {
                margin-bottom: 1em;
            }



            img {
                width: 100%;
                border-radius: 3px;
            }

            .foot {
                display: flex;

                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .footer {
        padding: 1em;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #ccc;

    }

    .header {

        border-bottom: 1px solid #ccc;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;


    }
}

.paid {
    background-color: greenyellow;
    color: black;

}

.unpaid {
    background-color: red;
    color: white;

}

.paid,
.unpaid {
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 3px;
}