$cor-primaria: #007bff;
$cor-secundaria: #00aaff;
$cor-success: #00ff88 ;
$cor-background-geral: #0f0f0f ;
$fonte-principal: 'Poppins', sans-serif;
$tamanho-fonte-base: 16px;
$cor-do-texto:#fff ;
$cor-do-p: #ccc;

