$cor-primaria: #00B8D9;
$cor-secundaria: #005F73;
$cor-success: #06D6A0;
$cor-background-geral: #E6F7F9;
$cor-background-card: #D0F0F6;
$cor-do-texto: #0A0A0A;         
$cor-do-p: #5C677D;            
