@use '../styles/variaveis';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: variaveis.$cor-background-geral;
  color: variaveis.$cor-do-texto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}