@use '../styles/variaveis';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html,
body {
  background: variaveis.$cor-background-geral;
  color: variaveis.$cor-do-texto;
  overflow-x: hidden;
}


.danger {
  background-color: variaveis.$danger;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.badge {
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 3px;

  .green {
    background-color: darkgreen;
  }

  .red {
    color: red;
  }
}

button {
  font-family: inherit;
}

.hide-on-mobile {
  @media (max-width: 768px) {
    display: none;
  }

}

.admin-container {
  padding: 1em;

  @media (max-width: 768px) {
    max-width: 300px;
  }

}


button {
  .success {
    background-color: variaveis.$success;
  }


  background-color: variaveis.$cor-secundaria;
  color: variaveis.$cor-do-texto;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  // margin-left: 16px;

  @media (max-width: 768px) {
    margin: 0;
    background-color: variaveis.$cor-background-geral;
    border-radius: 5px;
    margin-top: 8px;
  }
}

.link {
  color: #2790cd !important;
  display: flex;
  align-items: center;
  gap: 3px;
}

.slick-arrow {
  display: none !important;
}