@use '../../styles/variaveis';

.summaryContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        display: block;
    }
}

.card {
    background-color: variaveis.$cor-do-p;
    color: variaveis.$cor-do-texto;
    padding: 1rem;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);

    @media (max-width: 768px) {
        margin-bottom: 16px;
    }
}

button {
    background-color: variaveis.$cor-secundaria;
    color: variaveis.$cor-do-texto;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
    // margin-left: 16px;

    .success {
        background-color: variaveis.$success;

    }
}

.available {
    background-color: variaveis.$cor-do-p;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);

    @media (max-width: 768px) {
        display: block;
    }



    @media (max-width: 768px) {
        margin: 0;
        background-color: variaveis.$cor-background-geral;
        border-radius: 5px;
        margin-top: 8px;
    }
}