@use '../../styles/variaveis';

.statusContainer {
    background-color: variaveis.$cor-do-p;
    color: variaveis.$cor-do-texto;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.16);

    .percent {
        color: variaveis.$cor-success;
        margin-left: 1rem;
    }

    button {
        background-color: variaveis.$cor-secundaria;
        color: variaveis.$cor-do-texto;
        border: none;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}