@use '../../styles/variaveis';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: variaveis.$cor-do-texto;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 1px solid variaveis.$cor-secundaria;

    @media (max-width: 768px) {
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
    }
}

.logo {
    font-weight: bold;
    font-size: 10px;
    color: variaveis.$cor-do-texto;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h1 {
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.logoImage {
    width: 30px;
    height: auto;

    @media (max-width: 768px) {
        margin-right: 8px;
    }
}

.rightArea {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        width: 0%;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
}


.iconGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}