@use '../../styles/variaveis';

.sidebar {
    width: 400px;
    background-color: variaveis.$cor-do-p;
    color: variaveis.$cor-do-texto;
    padding: 1rem;
    height: 100%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 8px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;

    li {
        padding: 0.7rem;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        margin: 10px 0;

        &:hover {
            background-color: variaveis.$cor-primaria;
        }
    }
}

.active li {
    background-color: variaveis.$cor-secundaria;
    font-weight: bold;
}

.sectionTitle {
    margin-top: 1rem;
    color: #888;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.7rem;
}

.logout {
    color: red;
    margin-top: 1rem;
}
