@use '../../../styles/variaveis';

.recarga-container {
    padding: 20px;
    color: variaveis.$cor-do-texto;
    font-family: Arial, sans-serif;
  
    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }
  
    .recarga-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      .form-group {
        display: flex;
        flex-direction: column;
  
        label {
          font-size: 14px;
          margin-bottom: 6px;
  
          span {
            color: #ff4f4f;
          }
        }
  
        input, select {
          background-color: variaveis.$cor-do-p;
          color: variaveis.$cor-do-texto;
          border: none;
          padding: 10px;
          border-radius: 6px;
          font-size: 14px;
        }

        select {
          border: none;
          border-radius: 6px;
          padding: 0.4rem 0.75rem;
          font-size: 0.9rem;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: right 0.75rem center;
          background-size: 16px 16px;
          cursor: pointer;
          padding-right: 2rem;
      }
  
        small {
          color: #888;
          margin-top: 4px;
          font-size: 12px;
        }
  
        .radio-group {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
  
          button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 16px;
            border-radius: 6px;
            font-size: 14px;
            cursor: pointer;
  
            &.active {
              background-color: variaveis.$cor-secundaria;
              border-color: variaveis.$cor-secundaria;
            }

            &:hover {
              transform: translateY(-1px);
            }
          }
        }
      }
    }
  }
  